.feed {
    flex: 1;
    gap: 1em;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-top: 5em;
}
@media  screen and (max-width: 680px) {
    .feed {
        height: 100%;
        width: 100%;
    }
}