.header {
    display: flex;
    padding: 1em 1em;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
    border-bottom: .1em solid rgba(255, 255, 255, 0.411);
    background-color: black;
    color: white;
}
.header__left {
    display: flex;
    align-items: center;
}
.header__left > .MuiSvgIcon-root {
    font-size: 4em;
}
.header__left > img {
    height: 3em;
}
.header__input {
    display:flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1em;
    margin-left: 1em;
    border-radius: 20em;
    height: 1em;
    border: solid white;
}
.header__input > input {
    color: white;
    background-color:transparent;
    outline: none;
    border: none;
}
.header__middle {
    display: flex;
    flex: 1;
    justify-content: center;
}
.header__option > .MuiSvgIcon-root {
    font-size: 2em;
}
.header__option:hover > .MuiSvgIcon-root {
    color: #2e81f4;
}
.header__option {
    display: flex;
    z-index: 100;
    align-items: center;
    padding: 1em 2em;
    margin: 0 .5em;
    cursor: pointer;
}
.header__option--active > .MuiSvgIcon-root {
    color: #2e81f4;
}
.header__option--active {
    background-color: rgb(0, 34, 53);
    border-bottom: none;
    outline: none;
    border-radius: .5em;
}
.header__option:hover {
    background-color: rgb(0, 34, 53);
    border-bottom: none;
    outline: none;
    border-radius: .5em;
}
.header__info {
    display: flex;
    align-items: center;
}
.header__info > h4 {
    margin-left: 1em;
}
.header__right {
    display: flex;
}
.header__right > .MuiIconButton-root {
    color: white;
    padding: .5em;
}

