.login {
    display: flex;
    gap: 8em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo > .MuiSvgIcon-root {
    font-size: 20em;
}

.login__button {
    text-transform: none;
    font-weight: bold;
    color: #2e81f4;
    padding: 1em 4em;
}

.login__button:hover {
    background-color: rgb(0, 34, 53);
}