.messageSender {
    border: white solid .2em;
    border-radius: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 40em;
    height: 6em;
    padding: .5em;
}

.sender__top {
    display: flex;
    align-items: center;
    margin: .3em 0;
}

.sender__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100;
    overflow: hidden;
}

.sender__bottom > h4 {
    padding: 1em;
}

.sender__input {
    margin-left: 1em;
    outline: none;
    border: white solid .2em;
    border-radius: 4em;
    padding: .3em;
    width: 35em;
}

.sender__input > input {
    background-color: transparent;
    outline: none;
    border: none;
    padding: .3em 1em;
    color: white;
    width: 40em;
}

.inputButton {
    display: flex;
    margin: 1em;
    padding: .5em;
    border-radius: .5em;
    cursor: pointer;
}

.inputButton:hover {
    background-color: rgb(0, 34, 53);
    color: #2e81f4;
}

.inputButton > .MuiSvgIcon-root {
    padding-right: .5em;
}
