.post {
    display: flex;
    flex-direction: column;
    border: .1em solid rgba(255, 255, 255, 0.411);
    border-radius: 1em;
    color: white;
    padding: 1em;
    width: 40em;
}

.post__header {
    display: flex;
    gap: 1em;
    align-items: center;
}

.header__timeblock {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.411);
}

.header__timeblock > h5 {
    font-weight: lighter;
}