.sidebar {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 2em;
    padding-top: 5em;
    border-right: .1em solid rgba(255, 255, 255, 0.411);
    position: sticky;
    z-index: 50;
    top: 6.1em;
    height: 100vh;
}

.sidebar > h4 , .sidebar__footer > h4 {
    font-size: 1.2em;
    padding: 1em 0;
}

.sidebar__footer {
    display:flex;
    gap: 1em;
    align-items: center;
    cursor: pointer;
}